USE [AnShop2]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/23/2020 18:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Fullname] [nvarchar](200) NULL,
	[Gender] [int] NULL,
	[Birthday] [date] NULL,
	[Email] [varchar](50) NULL,
	[Phone] [int] NULL,
	[Address] [nvarchar](200) NULL,
 CONSTRAINT [PK_User_1] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[User] ([Username], [Password], [Fullname], [Gender], [Birthday], [Email], [Phone], [Address]) VALUES (N'baoanloz', N'342012', N'Phan Quốc Bảo', 1, CAST(0xC8220B00 AS Date), N'n17dcat006@student.ptithcm.edu.vn', 907429495, N'Tây Ninh')
INSERT [dbo].[User] ([Username], [Password], [Fullname], [Gender], [Birthday], [Email], [Phone], [Address]) VALUES (N'test1', N'123456', N'Phan Quốc Bảo', 1, CAST(0xD1220B00 AS Date), N'phanquocbao@gmail.com', 907429495, N'Tây Ninh')
INSERT [dbo].[User] ([Username], [Password], [Fullname], [Gender], [Birthday], [Email], [Phone], [Address]) VALUES (N'thom123', N'831605', N'Tạ Thị Thơm', 0, CAST(0xD1220B00 AS Date), N'davidan71115@gmail.com', 907429495, N'TP Hồ Chí Minh')
/****** Object:  Table [dbo].[Menu]    Script Date: 10/23/2020 18:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Link] [varchar](100) NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON
INSERT [dbo].[Menu] ([Id], [Name], [Link], [ParentId]) VALUES (1, N'Sản Phẩm', N'list/product.htm', NULL)
INSERT [dbo].[Menu] ([Id], [Name], [Link], [ParentId]) VALUES (2, N'Thương Hiệu Khác', N'list/other.htm', NULL)
INSERT [dbo].[Menu] ([Id], [Name], [Link], [ParentId]) VALUES (3, N'Best Buy', N'list/best.htm', NULL)
SET IDENTITY_INSERT [dbo].[Menu] OFF
/****** Object:  Table [dbo].[GroupProduct]    Script Date: 10/23/2020 18:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GroupProduct](
	[Id] [varchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Img] [varchar](50) NULL,
	[Brands] [int] NULL,
 CONSTRAINT [PK_GroupProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[GroupProduct] ([Id], [Name], [Content], [Img], [Brands]) VALUES (N'AD', N'Adidas', N'', NULL, 0)
INSERT [dbo].[GroupProduct] ([Id], [Name], [Content], [Img], [Brands]) VALUES (N'BS', N'Basas', NULL, NULL, 1)
INSERT [dbo].[GroupProduct] ([Id], [Name], [Content], [Img], [Brands]) VALUES (N'CR', N'Creas', N'', NULL, 1)
/****** Object:  Table [dbo].[Customer]    Script Date: 10/23/2020 18:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Code] [nchar](100) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON
INSERT [dbo].[Customer] ([Id], [Name], [Phone], [Email], [Address], [Code]) VALUES (101, N'Nguyễn Trường An', 907429495, N'davidan715@gmail.com', N'TP Hồ Chí Minh', N'vietnam-eval                                                                                        ')
INSERT [dbo].[Customer] ([Id], [Name], [Phone], [Email], [Address], [Code]) VALUES (102, N'Nguyễn Thị Hồng Nhung', 929654321, N'n17dcat006@student.ptithcm.edu.vn', N'Quận 9 - Tp Hồ Chí Minh', N'vietnam-eval                                                                                        ')
INSERT [dbo].[Customer] ([Id], [Name], [Phone], [Email], [Address], [Code]) VALUES (103, N'Nguyễn Trường An', 907429495, N'davidan715@gmail.com', N'TP Hồ Chí Minh', N'                                                                                                    ')
SET IDENTITY_INSERT [dbo].[Customer] OFF
/****** Object:  Table [dbo].[Advertise]    Script Date: 10/23/2020 18:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Advertise](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Link] [varchar](50) NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Advertise] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Advertise] ON
INSERT [dbo].[Advertise] ([Id], [Name], [Link], [Content], [Status], [type]) VALUES (1, N'Ananas Track 6', N'banner1.jpg', NULL, 1, NULL)
INSERT [dbo].[Advertise] ([Id], [Name], [Link], [Content], [Status], [type]) VALUES (2, N'Ananas Vintas', N'banner2.jpg', NULL, 1, NULL)
INSERT [dbo].[Advertise] ([Id], [Name], [Link], [Content], [Status], [type]) VALUES (3, N'ALL BLACK IN BLACK', N'sub-banner1.jpg', N'Mặc dù được ứng dụng rất nhiều, nhưng sắc đen lúc nào cũng toát lên một vẻ huyền bí không nhàm chán', 2, N'TR6')
SET IDENTITY_INSERT [dbo].[Advertise] OFF
/****** Object:  Table [dbo].[Admin]    Script Date: 10/23/2020 18:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [nvarchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/23/2020 18:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Coler] [nvarchar](50) NULL,
	[Price] [int] NOT NULL,
	[Sale] [int] NULL,
	[Img1] [varchar](max) NULL,
	[Img2] [varchar](max) NULL,
	[Img3] [varchar](max) NULL,
	[Sold] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[GroupProductId] [varchar](50) NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Product] ([Id], [Name], [Content], [Coler], [Price], [Sale], [Img1], [Img2], [Img3], [Sold], [Date], [GroupProductId], [Status]) VALUES (N'BS01', N'BASAS BLACK LACE - LOW TOP', N'Vẫn sử dụng những màu sắc cơ bản của Basas, "Basas Black Lace" Pack trở nên mạnh mẻ, ấn tượng hơn khi sử dụng dây giày màu đen làm điểm nhấn cho bản phối màu trắng-đen-xám tưởng chừng quá quen thuộc. Dáng giày low top cổ điển, đây sẽ là một lựa chọn an toàn nhưng không nhàm chán.', N'Dark Grey', 450000, 0, N'BS01-1.jpg', N'BS01-2.jpg', N'BS01-3.jpg', 2, CAST(0x1E410B00 AS Date), N'BS', 1)
INSERT [dbo].[Product] ([Id], [Name], [Content], [Coler], [Price], [Sale], [Img1], [Img2], [Img3], [Sold], [Date], [GroupProductId], [Status]) VALUES (N'BS02', N'BASAS MONO - HIGH TOP', N'Dáng giày high top cá tính, kết hợp upper và phần đế "ton-sur-ton" đã giúp "Basas Mono" Pack trở nên thu hút. Đôi giày này hứa hẹn sẽ là một điểm nhấn thú vị cho mọi set đồ của bạn.', N'All White', 520000, 0, N'BS02-1.jpg', N'BS02-2.jpg', N'BS02-3.jpg', 2, CAST(0x24410B00 AS Date), N'BS', 1)
/****** Object:  Table [dbo].[Order]    Script Date: 10/23/2020 18:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Total] [float] NOT NULL,
	[Date] [date] NOT NULL,
	[Status] [int] NULL,
	[Username] [varchar](50) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON
INSERT [dbo].[Order] ([Id], [CustomerId], [Total], [Date], [Status], [Username]) VALUES (99, 113, 465000, CAST(0x24410B00 AS Date), 0, NULL)
INSERT [dbo].[Order] ([Id], [CustomerId], [Total], [Date], [Status], [Username]) VALUES (104, 118, 970000, CAST(0x25410B00 AS Date), 0, NULL)
INSERT [dbo].[Order] ([Id], [CustomerId], [Total], [Date], [Status], [Username]) VALUES (105, 119, 2060000, CAST(0x25410B00 AS Date), 1, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
/****** Object:  Table [dbo].[ProductDetail]    Script Date: 10/23/2020 18:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Size] [int] NOT NULL,
	[Quanlity] [int] NOT NULL,
	[ProductId] [varchar](50) NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_ProductDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetail] ON
INSERT [dbo].[ProductDetail] ([Id], [Size], [Quanlity], [ProductId], [Status]) VALUES (10, 43, 10, N'BS02', 1)
INSERT [dbo].[ProductDetail] ([Id], [Size], [Quanlity], [ProductId], [Status]) VALUES (11, 38, 15, N'BS03', 1)
INSERT [dbo].[ProductDetail] ([Id], [Size], [Quanlity], [ProductId], [Status]) VALUES (12, 42, 15, N'BS03', 1)
SET IDENTITY_INSERT [dbo].[ProductDetail] OFF
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 10/23/2020 18:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [varchar](50) NULL,
	[Quanlity] [int] NOT NULL,
	[Size] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Quanlity], [Size]) VALUES (76, 99, N'VT02', 1, 41)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Quanlity], [Size]) VALUES (87, 104, N'BS02', 1, 43)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Quanlity], [Size]) VALUES (88, 104, N'BS03', 1, 42)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
/****** Object:  Default [DF_GroupProduct_Brands]    Script Date: 10/23/2020 18:33:15 ******/
ALTER TABLE [dbo].[GroupProduct] ADD  CONSTRAINT [DF_GroupProduct_Brands]  DEFAULT ((1)) FOR [Brands]
GO
/****** Object:  Default [DF_Product_Sold]    Script Date: 10/23/2020 18:33:15 ******/
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Sold]  DEFAULT ((0)) FOR [Sold]
GO
/****** Object:  Default [DF_Order_Status]    Script Date: 10/23/2020 18:33:15 ******/
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  ForeignKey [FK_Product_GroupProduct1]    Script Date: 10/23/2020 18:33:15 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_GroupProduct1] FOREIGN KEY([GroupProductId])
REFERENCES [dbo].[GroupProduct] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_GroupProduct1]
GO
/****** Object:  ForeignKey [FK_Order_Customer1]    Script Date: 10/23/2020 18:33:15 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer1] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer1]
GO
/****** Object:  ForeignKey [FK_Order_User]    Script Date: 10/23/2020 18:33:15 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([Username])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
/****** Object:  ForeignKey [FK_ProductDetail_Product]    Script Date: 10/23/2020 18:33:15 ******/
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetail] CHECK CONSTRAINT [FK_ProductDetail_Product]
GO
/****** Object:  ForeignKey [FK_OrderDetail_Order]    Script Date: 10/23/2020 18:33:15 ******/
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
/****** Object:  ForeignKey [FK_OrderDetail_Product1]    Script Date: 10/23/2020 18:33:15 ******/
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product1] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product1]
GO
